@import '../fonts/stylesheet.css';
:root {
	--def-font-size: 16px;
}

/** colors */
:root {
	--c-white: #fff;
	--c-gray-100: #f7f7f7;
}
/** styles reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: 100%;
}
#app,
html,
body {
	font-family: 'Futura PT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: var(--def-font-size);
	min-height: 100vh;
	line-height: 1.5;
	background-color: var(--c-gray-100);
}
button {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

/** container */
.container {
	width: 1280px;
	margin: auto;
}

/** ui */
.ui-btn {
	padding: 6px 12px;
	cursor: pointer;
	min-height: 24px;
	line-height: 16px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	appearance: none;
}

@media (min-width: 1280px) {
	/* Стандартные десктопы */
}
